@use "../../global" as *;
@use "../../partials" as *;

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  border: none;
  @include transparent-button;
  opacity: 1;
  margin: 0;
  padding: 0;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-live {
}

.btn-upload {
}
