@use "../../global" as *;
@use "../../partials" as *;

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  border: none;
  @include transparent-button;
  opacity: 1;
  margin: 0;
  padding: 0;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-live {
}

.btn-upload {
}

.btn-submit {
  @include setBgColor($primary, $white);
  @include w100;
  @include font($primaryFont, 18, normal, normal, 18);
  display: inline-block;
  padding: size(14) size(40);
  text-align: center;
  @include transitionsbackground;

  @include hover {
    background: $primary-dark;
  }
}
