@use "../../global" as *;
@use "../../partials" as *;

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  @include transparent-button;
  opacity: 1;
  margin: 0;
  padding: 0;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-live,
.btn-upload {
  width: size(150);
  @include flex-center;
  gap: size(10);
  @include border(solid, 1, transparent);
  padding: size(8);

  .icon {
    @include square(24);
    @include flex-center;
    overflow: hidden;

    svg {
      @include wh100;
    }
  }

  .text {
    @include font($primaryFont, 14, medium, normal, 14);
  }
}

.btn-live {
  border-color: $gray-400;
  background: $white;

  .text {
    color: $gray-700;
  }

  @include hover {
    background: $danger;
    border-color: $danger;

    svg {
      path {
        fill: $white;
      }
    }

    .text {
      color: $white;
    }
  }
}

.btn-upload {
  border-color: $primary;
  background: $primary;

  .text {
    color: $white;
  }

  @include hover {
    background: $primary-dark;
    border-color: $primary-dark;
  }
}

.btn-submit {
  @include setBgColor($primary, $white);
  @include w100;
  @include font($primaryFont, 18, normal, normal, 18);
  display: inline-block;
  padding: size(14) size(40);
  text-align: center;
  @include transitionsbackground;

  @include hover {
    background: $primary-dark;
  }
}

.btn-next {
  @include setBgColor($primary, $white);
  @include w100;
  @include font($primaryFont, 18, normal, normal, 18);
  display: inline-block;
  padding: size(14) size(0) ;
  text-align: center;
  @include flex-center;
  gap: size(12);
  @include transitionsbackground;
  @include breakpoint(tab992) {
    gap: size(24);
  }

  @include hover {
    background: $primary-dark;
  }
}


.keywordbtn {
  @include setBgColor($gray-200,$gray-600);
  padding: size(8) size(20);
  @include radius(40);
  @include flex-center-between;
  // min-width: size(120);
  gap: size(14);

  &-icon {
    @include border(solid,1,$gray-300);
    @include square(24);
    @include flex-center;
    overflow: hidden;
    @include circle;
  }
}

.breadcumb-btn {
  @include font($primaryFont, 14, normal, normal, 18);
  display: inline-block;
  @include border(solid,1,$gray-400);
  padding: size(8) size(16);
  text-align: center;
  @include transitionsbackground;
  width: size(120);
  color: $gray-700;
  @include hover {
    background: $gray-400;
  }
}


.delete-btn,
.download-btn {
  padding: size(7) size(14);
  @include radius(4);
  @include border(solid,1,$gray-300);
  @include font($primaryFont, 12, normal, normal, 18);
  color: $gray-600;
  box-shadow: 0px 4.95074px 6.60099px rgba(32, 29, 67, 0.07);
}

.btn-reply {
  padding: size(6) size(16);
  @include border(solid,1,$gray-400);
  @include font($primaryFont, 12, normal, normal, 18);
  @include transitionsbackground;
  color: $gray-600;
  @include hover {
    background: $gray-200;
  }
}

.btn-back {
  color: $gray-600;
  padding-inline: size(20);
  @include transitionsall;
  @include  hover {
    background: $gray-200;
  }
}