@use '../../global' as *;
@use '../../partials' as *;

.footer {
  padding-top: size(32);
  @include border-single(top, solid, 1, rgba($primaryText, 0.3));

  @include breakpoint(mobile768) {
    padding-top: size(48);
  }

  @include breakpoint(tab992) {
    padding-top: size(64);
  }

  &-content {
    @include flex-column;
    gap: size(32);
  
    @include breakpoint(mobile768) {
      gap: size(48);
    }
  
    @include breakpoint(tab992) {
      gap: size(64);
    }
  }

  &-top {
    .footerinfo {
      @include flex-center-column;
      gap: size(16);
      text-align: center;

      @include breakpoint(tab992) {
        align-items: flex-start;
        text-align: left;
      }
      
      .footlogo {
        width: size(130);
        height: size(32);
        @include flex-center;
        overflow: hidden;

        img {
          @include wh100;
          object-fit: contain;
        }
      }
      
      .footertexts {
        max-width: 100%;
        
        @include breakpoint(mobile576) {
          max-width: 75%;
        }

        @include breakpoint(mobile768) {
          max-width: 100%;
        }

        @include breakpoint(desktop1400) {
          max-width: 75%;
        }
      }
  
      .footersocial {
        .social-list {
          @include list-horizontal;
          gap: size(16);
  
          &-link {
            @include square(24);
            @include flex-center;
            overflow: hidden;
    
            svg {
              g {
                @include transitionsall;
              }
            }
  
            @include hover {
              svg {
                g {
                  opacity: 1;
  
                  path {
                    fill: $primaryText;
                  }
                }
              }
            }
          }
        }
      }
    }

    .evencol {
      .footer-details {
        @include breakpoint(tab992) {
          align-items: flex-end;
          text-align: right;
        }

        @include breakpoint(tab992) {
          align-items: flex-start;
          text-align: left;
        }
      }
    }

    .mobcol {
      .footer-details {
        align-items: flex-end;
        text-align: right;

        @include breakpoint(tab992) {
          align-items: flex-start;
          text-align: left;
        }
      }
    }
  }

  &-details {
    @include flex-column;
    gap: size(16);

    &-header {
      .footertitle {
        font-size: size(18);

        @include breakpoint(desktop1200) {
          font-size: size(20);
        }

        @include breakpoint(1600) {
          font-size: size(24);
        }
      }
    }

    &-body {
      .footerlist {
        @include list-vertical;
        gap: size(8);

        &-link {
          color: $primaryText;
          @include transitionscolor;

          @include hover {
            color: $black;
          }
        }
      }

      .bookinfo {
        @include flex-column;
        gap: size(20);
        
        &-body {
          .bookbox {
            @include flex-center-vert;
            padding: size(5);
            background: $white;
            @include border(solid, 0.5, $primary);
            @include radius(4);
            @include transitionsall;

            .bookmail {
              width: calc(100% - size(91));
              padding: size(9) size(8);
              @include font($primaryFont, 14, normal, normal, 14);
              color: $headingText;
              
              &::placeholder {
                color: rgba($primaryText, 0.3);
              }
            }

            &:focus-within {
              border-color: rgba($primaryText, 0.75);
            }
          }
        }
      }
    }

    &.booking {
      text-align: center;

      @include breakpoint(tab992) {
        align-items: flex-start;
        text-align: left;
      }
    }
  }

  &-bottom {
    padding: size(14) size(0);
    @include border-single(top, solid, 1, rgba($primaryText, 0.3));

    .copyright {
      @include flex-center;
      
      @include breakpoint(tab992) {
        justify-content: flex-end;
      }
    }
  }

  &-thumbnail {
    @include flex-center;
    @include w100;
    height: size(54);

    @include breakpoint(tab992) {
      height: size(26);
    }

    img {
      @include wh100;
    }

    .desktopimg {
      display: none;

      @include breakpoint(tab992) {
        display: block;
      }
    }

    .mobileimg {
      display: block;
      object-fit: contain;

      @include breakpoint(tab992) {
        display: none;
      }
    }
  }
}