@use '../../global' as *;
@use '../../partials' as *;
.inputbox {
    @include flex-column;
    gap: size(8);

    .inputlabel {
      color: $gray-600;
      @include font($primaryFont, 14, medium, normal, 17);
    }

    .inputfield ,.textareafield{
      @include setBgColor($white, $gray-900);
      @include border(solid, 1, $gray-300);
      @include font($primaryFont, 14, medium, normal, 17);
      padding: size(13.5) size(16);
      @include transitionsall;

      &::placeholder {
        color: $textPlaceholder;
      }

      &:focus {
        border-color: $primary;
      }
    }
    .textareafield {
       
    } 

    .error {
      display: none;

      .error-message {
        color: $danger;
        @include font($primaryFont, 13, medium, normal, 17);
      }
    }

    &.errorfield {
      .inputfield {
        border-color: $danger;
      }
      
      .error {
        display: block;
      }
    }
  }


  .replybox {
  padding-right: size(20);
  margin-top: size(20);
  margin: size(20) size(40);
    &-body{
      
      .replyinput {
        @include w100;
       @include border(solid,1,$gray-300);
       background: transparent;
       padding: size(8);
       @include font($primaryFont, 14, medium, normal, 17);
       &::placeholder {
        color: $textPlaceholder;
      }

      &:focus {
        border-color: $primary;
      }
      }
    }

    &-footer {
      @include flex-end;
      padding: size(4) size(0);
      gap: size(24);
      .cancel {
        color: $gray-500;
        @include font($primaryFont, 14, medium, normal, 17);
      }
      .reply {
        color: $gray-700;
        @include font($primaryFont, 14, medium, normal, 17);
      }
    }
  }

