@use "../../global" as *;
@use "../../partials" as *;

table.videotable{
    thead {
        
    }
    tbody {

    }

	tr {
		&:first-child {
            background-color:tan;
        }
        th {
            // border-color: green; 
            padding:size(16) size(12);
            vertical-align: middle;
            min-width: size(140);
            @include setBgColor($white,$primary);
            @include font($primaryFont,12,semibold,normal,16);
            text-transform: uppercase;
            letter-spacing: 0.06rem;
            box-shadow: insetsize(0) size(-1) size(0) $gray-200;
            
            &:first-child {
               width: 30px;
               min-width: 10px;
               padding: 0;
            }
            &:last-child {
                min-width: size(60);
            }
        }
        
        td {
            border-color: #EDF2F7; 
            vertical-align: middle;
            background-color: $white;
            @include font($primaryFont,14,normal,normal,20);
            padding:size(20) size(12);
            color: $gray-600;
            &:nth-child(2) {
                min-width: size(300);
                padding: 0;
                @include breakpoint(mobile414) {
                    min-width: size(414)
                }
                a{
                    @include flex-center-vert;
                    height:100%;
                    @include font($primaryFont,12,semibold,normal,20);
                    gap: size(12);
                    align-items: flex-start;
                   
                    @include breakpoint(mobile480) {
                        flex-direction: row;
                    }
                    .video-thumb {
                        height: size(64);
                        width: size(120) !important;
                        overflow: hidden;
                        img {
                            @include wh100;
                            object-fit: cover;
                        }
                    }
                    .title-des {
                        @include flex-column;
                        padding: size(0) size(20);
                        width: calc(100% - size(120));
                        gap: size(8);
                        .title {
                            color: $gray-700;
                            @include font($primaryFont,12,semibold,normal,20);
                        }
                        .des-container {
                          @include line-clamp;
                          .des {
                            color: $gray-600;
                            @include font($primaryFont,12,semibold,normal,20);
                          }
                        } 
                    }

                }
            }
            
          
        }
	}
}
