@use "../../global"as *;
@use "../../partials"as *;

table.videotable {
   
    thead {}

    tbody {}

    tr {
        &:first-child {}

        th {
            // border-color: green; 
            padding: size(16) size(12);
            vertical-align: middle;
            min-width: size(130);
            @include setBgColor($white, $primary);
            @include font($primaryFont, 12, semibold, normal, 16);
            text-transform: uppercase;
            letter-spacing: 0.06rem;
            box-shadow: insetsize(0) size(-1) size(0) $gray-200;

            &:first-child {
                width: size(30);
                min-width: 10px;

            }

            &:last-child {}
        }

        td {
            border-color: $gray-200;
            vertical-align: middle;
            background-color: $white;
            @include font($primaryFont, 14, normal, normal, 20);
            padding: size(20) size(12);
            color: $gray-600;

            &:nth-child(2) {
                min-width: size(300);
                padding: 0;

                @include breakpoint(mobile414) {
                    min-width: size(414)
                }

                a {
                    @include flex-center-vert;
                    height: 100%;
                    gap: size(12);
                    align-items: flex-start;
                    padding: size(10) size(0);
                    color: $gray-600;

                    @include breakpoint(mobile480) {
                        flex-direction: row;
                    }

                    .video-thumb {
                        height: size(64);
                        width: size(120) !important;
                        overflow: hidden;

                        img {
                            @include wh100;
                            object-fit: cover;
                        }
                    }

                    .title-des {
                        @include flex-column;
                        padding: size(0) size(20);
                        width: calc(100% - size(120));
                        gap: size(8);

                        .title {
                            color: $gray-700;
                            @include font($primaryFont, 12, semibold, normal, 20);
                            @include line-clamp;
                        }

                        .des-container {
                            @include line-clamp;

                            .des {
                                color: $gray-600;
                                @include font($primaryFont, 12, normal, normal, 20);
                            }
                        }
                    }

                }
            }

            .dropdown {
                span {
                    cursor: pointer;
                   }
                &-menu {
                    // border: none;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                }

                &-item {
                    @include transitionsall;
                    color: $gray-700;
                    @include flex;
                    align-items: center;
                    gap: size(8);
                    @include font($primaryFont, 14, normal, normal, 20);


                    @include hover {
                        background-color: $gray-200;
                    }
                }

                .dropdown-toggle::after {
                    display: none;
                }
            }
        }
    }
}

.table.comments-table {

    thead {}

    tbody {}

    tr {
        &:first-child {}

        th {
            // border-color: green; 
            padding: size(16) size(12);
            vertical-align: middle;
            min-width: size(130);
            @include setBgColor($white, $primary);
            @include font($primaryFont, 12, semibold, normal, 16);
            text-transform: uppercase;
            letter-spacing: 0.06rem;
            box-shadow: insetsize(0) size(-1) size(0) $gray-200;
            max-width: size(200);

            &:first-child {
                width: size(30);
                min-width: 10px;

            }

            &:last-child {}
        }

        td {
            border-color: $gray-200;
            vertical-align: middle;
            background-color: $white;
            @include font($primaryFont, 14, normal, normal, 20);
            padding: size(20) size(12);
            color: $gray-600;
            

            &:nth-child(2) {
                min-width: size(200);
                padding: 0;

                @include breakpoint(mobile414) {
                    min-width: size(220);
                    max-width: size(360);
                }

                a {
                    @include flex-center-vert;
                    height: 100%;
                    gap: size(12);
                    align-items: flex-start;
                    padding: size(10) size(0);
                    color: $gray-600;

                    @include breakpoint(mobile480) {
                        flex-direction: row;
                    }

                    .video-thumb {
                        height: size(64);
                        width: size(120) !important;
                        overflow: hidden;

                        img {
                            @include wh100;
                            object-fit: cover;
                        }
                    }

                    .title-des {
                        @include flex-column;
                        padding: size(0) size(20);
                        width: calc(100% - size(120));
                        gap: size(8);

                        .title {
                            color: $gray-700;
                            @include font($primaryFont, 12, semibold, normal, 20);
                            @include line-clamp;
                        }

                        .des-container {
                            @include line-clamp;

                            .des {
                                color: $gray-600;
                                @include font($primaryFont, 12, normal, normal, 20);
                            }
                        }
                    }

                }
            }

            .name-image {
                @include flex;
                gap: size(10);
                align-items: center;
                min-width: size(160);

                .user-thumb {
                    @include square(24);
                    overflow: hidden;
                    @include circle;

                    img {
                        @include wh100;
                        object-fit: cover;
                    }
                }
            }

            .comment-video {
                @include flex-center-horiz;
                gap: size(12);
                .video-thumb {
                    width: size(88);
                    height: size(46);
                    overflow: hidden;
                    img {
                        @include wh100;
                        object-fit: cover;
                    }
                }
                .video-title {
                    @include flex-center;
                   h2 {
                    color: $gray-600;
                    @include font($primaryFont, 12, normal, normal, 20);
                   }
                }
            }
            .dropdown {
               span {
                cursor: pointer;
               }
                &-menu {
                    border: none;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                }

                &-item {
                    @include transitionsall;
                    color: $gray-700;
                    @include flex;
                    align-items: center;
                    gap: size(8);
                    @include font($primaryFont, 14, normal, normal, 20);

                    @include hover {
                        background-color: $gray-200;
                    }
                }

                .dropdown-toggle::after {
                    display: none;
                }
            }
           
        }
    }
    .likecomment {
        background-color: $gray-100;
        

        padding-block: size(10);
        padding-left: size(50);
        &-buttons {
            @include flex-between;
            .like-comment {
                @include flex;
                gap:size(20);
    
                .like,
                .comment {
                    @include flex;
                    align-items: center;
                    gap: size(7);
                    &-icon {
                     cursor: pointer;
                     svg {
                        @include transitiontransform;
                       
                     } 
                    
                    }
                    .arrow {
                        margin-top: size(-4);
                    }
                }
                .like {
                    .like-count {
                        margin-top: size(4);
                    }
                }
                .comment {
                    cursor: pointer;
                    
                    &:not(.collapsed){
                        .arrow {
                            svg {
                                @include transitiontransform;
                               transform: rotate(-180deg);
                            }
                        }
                    }
                }
            }
            
        }
        &-collapsed {
         
        }


    }
}