@use '../../global' as *;
@use '../../partials' as *;

.reviewcard {
  background: $white;
  @include border(solid, 1, $signinborder);
  @include radius(8);
  padding: size(20);
  @include h100;
  @include transitiontransform;

  &-header {
    @include flex-column;
    gap: size(20);

    .reviewlist {
      @include list-horizontal;
      gap: size(4);

      &-item {
        @include square(19);
        @include flex-center;
        overflow: hidden;

        svg {
          @include wh100;
        }
      }
    }
  }

  &-body {
    padding: size(22) size(0) size(36);
    @include w100;

    .reviewtext {
      font-size: size(15);
    }
  }

  &-footer {
    @include flex-center-vert;
    gap: size(16);

    .nameicon {
      @include setBgColor($bluebg, $blue);
      @include square(48);
      @include circle;
      @include flex-center;
      font-size: size(16);
      font-weight: 600;
      overflow: hidden;
      padding: size(16);
      text-transform: uppercase;
    }

    .userinfo {
      @include flex-column;

      .username {
        color: $headingText;
        font-weight: 400;
      }

      .date {
        color: $primaryText;
        font-size: size(14);
        font-weight: 300;
      }
    }
  }

  @include hover {
    @include translateY(size(-12));
  }
}