@use '../../global' as *;
@use '../../partials' as *;

.cardservice {
  background: $white;
  @include border(solid, 0.5, $signinborder);
  @include radius(16);
  // overflow: hidden;
  @include h100;
  position: relative;

  &-header {
    position: relative;
    @include w100;
    height: size(180);
    overflow: hidden;
    padding: size(10) size(10) size(0);

    .badges {
      position: absolute;
      top: size(18);
      left: size(18);
      @include flex-center-vert;
      gap: size(5);
      flex-wrap: wrap;
    }

    .service-thumbnail {
      @include radius(8);
      @include wh100;
      overflow: hidden;

      img {
        @include transitiontransform;

        @include hover {
          @include scale(1.05);
        }
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(12);
    padding: size(0) size(20) size(16);

    .user-thumbnail {
      @include square(100);
      @include border(solid, 3, $white);
      @include circle;
      @include flex-center;
      overflow: hidden;
      margin-top: size(-50);
      position: relative;
      z-index: 5;

      img {
        @include wh100;
      }
    }

    .nameinfo {
      @include flex-column;
      gap: size(8);

      .name {
        font-weight: 500;
        @include transitionscolor;

        @include hover {
          color: darken($primary, 20%);
        }
      }

      .text {
        color: $primaryText;
        font-size: size(14);
        line-height: calc(18 / 14);
        @include line-clamp-3;
        max-height: size(54);
      }
    }

    .cardservice-rateprices {
      @include flex-center-between;
  
      .raging {
        @include flex-center-vert;
        gap: size(6);
  
        .icon {
          @include square(18);
          @include flex-center;
          overflow: hidden;
  
          svg {
            @include wh100;
          }
        }
  
        .rate {
          font-size: size(16);
          font-weight: 500;
          color: $headingText;
          display: inline-block;
          margin-top: size(2);
        }
      }

      .durationprice {
        font-size: size(14);
        font-weight: 300;
        color: $primaryText;

        .serviceprice {
          color: $headingText;
          font-weight: 600;
        }
      }
    }
  }

  .shadowbox {
    @include w100;
    height: size(40);
    background: rgba($primaryText, 0.15);
    filter: blur(size(18.5));
    position: absolute;
    left: auto;
    right: auto;
    top: auto;
    bottom: size(-8);
    display: none;
    z-index: -1;
  }

  @include hover {
    .shadowbox {
      display: block;
    }
  }
}