@use '../../global' as *;
@use '../../partials' as *;

.card-featured {
  @include flex-column;
  gap: size(24);
  padding: size(10) size(10) size(24);
  @include radius(16);
  @include h100;
  background: transparent;
  position: relative;

  &-header {
    @include flex-center;
    position: relative;
    @include w100;
    height: size(176);

    .feature-thumbnail {
      position: relative;
      @include wh100;
      @include radius(8);
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
        @include transitiontransform;
      }

      .default-thumbnail {
        opacity: 1;
        visibility: visible;
        position: relative;
      }
      
      .hover-thumbnail {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        @include scale(1.1);
      }

      @include hover {
        .default-thumbnail {    
          opacity: 0;
          visibility: hidden;
        }
      
        .hover-thumbnail {
          opacity: 1;
          visibility: visible;
          @include scale(1);
        }
      }
    }

    .badges {
      position: absolute;
      top: size(8);
      left: size(8);
      @include flex-center-vert;
      gap: size(5);
      flex-wrap: wrap;
    }

    .favoriteicon {
      position: absolute;
      top: size(8);
      right: size(10);
      @include square(21);
      @include flex-center;

      svg {
        @include wh100;
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(16);

    h6 {
      color: $headingText;
      font-size: size(16);
      font-weight: 500;
      @include transitionscolor;

      @include breakpoint(mobile576) {
        @include line-clamp;
        max-height: size(48);
      }
      
      @include hover {
        color: darken($primary, 20%);
      }
    }

    p {
      color: $primaryText;
      font-size: size(14);
      @include line-clamp-3;
    }

    .detailsinfo {
      @include flex-center-between;
      margin-top: size(8);

      .rating {
        @include flex-center-vert;
        gap: size(8);

        .icon {
          @include square(17);
          @include flex-center;
          overflow: hidden;

          svg {
            @include wh100;
          }
        }

        h6 {
          color: $headingText;
          font-size: size(14);
          font-weight: 500;
        }
      }

      .detailslink {
        .linktext {
          color: $headingText;
          @include font($primaryFont, 14, light, normal, 18);
          opacity: 0;
          visibility: hidden;
          @include transitionscolor;

          @include hover {
            color: darken($primary, 25%);
          }
        }
      }
    }
  }

  .shadowbox {
    width: size(280);
    height: size(40);
    background: rgba($primaryText, 0.15);
    filter: blur(size(18.5));
    position: absolute;
    left: auto;
    right: auto;
    top: auto;
    bottom: size(-8);
    display: none;
    z-index: -1;
  }

  @include hover {
    background: $white;

    .card-featured-body {
      .detailsinfo {
        .detailslink {
          .linktext {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    .shadowbox {
      display: block;
    }
  }
}