@use '../../global' as *;
@use '../../partials' as *;

.cardreview {
  @include flex-column;
  gap: size(24);
  background: $white;
  @include radius(8);
  overflow: hidden;
  padding: size(20);
  @include transitionsbackground;

  @include breakpoint(tab992) {
    padding: size(24);
  }

  &-header {
    @include flex-column;
    gap: size(20);

    .reviewlist {
      @include list-horizontal;
      gap: size(4);
    }

    .titlebox {
      max-height: size(44);
      @include flex-center-vert;

      @include breakpoint(mobile576) {
        height: size(48);
      }

      @include breakpoint(mobile768) {
        height: size(54);
      }

      @include breakpoint(tab992) {
        height: size(60);
      }

      .title {
        @include line-clamp;
      }
    }
  }
  
  &-body {
    margin-bottom: size(8);

    .reviewtext {
      @include line-clamp-3;
      max-height: size(67);
    }
  }

  &-footer {
    @include flex-center-vert;
    gap: size(20);

    .userthumb {
      @include square(44);
      @include circle;
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
      }
    }

    .username {
      color: $headingText;
    }
  }

  @include hover {
    background: rgba($primary, 0.2);
  }
}