@use '../../global' as *;
@use '../../partials' as *;

.card-service {
  @include flex-center-column;
  gap: size(24);
  text-align: center;
  @include transitiontransform;

  &-header {
    @include flex-center-column;
    gap: size(30);

    .number {
      @include square(64);
      @include border(solid, 2, $white);
      @include circle;
      @include flex-center-column;
      overflow: hidden;
      position: relative;
      @include translateY(size(0));

      @include breakpoint(tab992) {
        @include square(80);
      }

      @include breakpoint(desktop1200) {
        @include square(92);
      }

      .bigtitle-2 {
        color: $headingText;
        font-weight: 600;

        &::selection {
          @include setBgColor(transparent, $headingText);
        }
      }
    }

    .title {
      font-weight: 500;
    }
  }

  @include hover {
    @include translateY(size(-12));
  }
}