@use "../../global" as *;
@use "../../partials" as *;

.modal {
  &-content {
    @include radius(8);
    border: none;
  }

  &-header {
    border-bottom: 0;
   

    .btn-close {
      @include square(24);
      @include flex-center;
      overflow: hidden;
      opacity: 1;
      @include border(solid,1,$gray-300);
      @include circle;

      svg {
       @include square(14);
        @include transitiontransform;
      }

      @include hover {
        svg {
          @include rotate(90);

          path {
            // stroke: $danger;
          }
        }
      }
    }

  }

  &-body {
    margin-bottom: size(60);
    padding: 0 size(20);
    height: 100%;
    .step-container {
      @include w100;
      @include flex-column;
      gap: size(50);
      @include breakpoint(mobile768) {
        width: size(445);
        margin: auto
      }
      .form1 {
        @include flex-column;
          gap: size(16); 
          padding-bottom: size(20);
          .inputbox {
            @include flex-column;
            gap: size(8);

            .inputlabel {
              color: $gray-600;
              @include font($primaryFont, 14, medium, normal, 17);
            }

            .inputfield , .textareafield {
              @include setBgColor($white, $gray-900);
              @include border(solid, 1, $gray-300);
              
              @include font($primaryFont, 14, medium, normal, 17);
              padding: size(13.5) size(16);
              @include transitionsall;
          

              &::placeholder {
                color: $textPlaceholder;
              }

              &:focus {
                border-color: $primary;
              }
            }
            .textareafield {
              height: size(218);
            }

            .error {
              display: none;
      
              .error-message {
                color: $danger;
                @include font($primaryFont, 13, medium, normal, 17);
              }
            }
      
            &.errorfield {
              .inputfield {
                border-color: $danger !important;
              }
              
              .error {
                display: block;
              }
            }
          }

          .keywordbox {
            @include flex-column;
            gap: size(10);
            .border-shadow {
              @include border(solid,1,$gray-400);
             
            }
            .keywords {
             
              padding: size(16) ;
              padding-bottom: size(36);
              
            }
            .keyword-title {
              color: $gray-600;
              @include font($primaryFont, 14, medium, normal, 17);
            }

            .keywords {
              @include flex;
              gap: size(8);
              flex-wrap: wrap;
            }


          } 

          .btn-wrapper {
            width: size(180);
            margin-left: auto;
            padding-top: size(22);
            .btn-next {
              padding-inline: 0;
              font-size: size(14);
              @include font($primaryFont,14,semibold,normal,14);
               background: $primary;
            }
            
            
          }

      }
      .create {
        max-width: 80%;
        margin: auto;
        text-align: center;
        @include flex-column;
        gap: size(16); 
        @include breakpoint(tab992) {
          gap: size(24);
        }
        h2 {
          text-align: center;
          color: $gray-700;
          @include font($primaryFont,20,semibold,normal,20); 
          @include breakpoint(mobile576) {
            @include font($primaryFont,24,semibold,normal,24); 
          }
          @include breakpoint(tab992) {
            @include font($primaryFont,28,semibold,normal,28); 

          }
        }
        .stepper-container {
          @include flex;
          align-items: center;
          margin-bottom: size(50);
          width: size(90%);
          .small-round {
            @include square(20);
            background: $gray-200;
            display: inline-block;
            @include circle;
            position: relative;
            &.filled {
              background: $primarydeep;
            }
            .text {
              position: absolute;
              bottom: size(-25);
              display: inline-block;
              width: size(130);
              left: size(-30);
              @include font($primaryFont,14,medium,normal,14);
              color: $gray-600;
            }
          
          }
          .big-round {
            @include square(36);
            background: $gray-200;
            display: inline-block;
            @include circle;
            @include border(solid,3,$primarydeep);
            position: relative;
            .text {
              position: absolute;
              bottom: size(-25);
              display: inline-block;
              width: size(130);
              left: size(-30);
              @include font($primaryFont,14,medium,normal,14);
              color: $gray-800;
            }
          }
          .middle-line {
            width: calc(100% - size(56));
            height: size(1);
            display: inline-block;
            background: $gray-300;
            flex: 1;
          }
  
        }
      }
      
      .form2 {
        @include flex-column;
        gap: size(20);
        padding-bottom: size(20);
        .cover-thumb {
          @include w100;
          height: size(214);
          position: relative;

          &:after {
            // content:'';
            // position:absolute;
            // @include wh100;
            // top:0; left:0;
            // background:rgba(0,0,0,0.5);
            // opacity:1;
            // @include radius(4);
            
        }
          img {
            @include wh100;
            object-fit: cover;
            @include radius(4);

          }
          .upload-cover {
            position: absolute;
            bottom: size(12);
            right: size(12);
            z-index: 1;

            .uploadcover {
              @include border(solid,1,$gray-600);
              @include setBgColor(transparent,$gray-600);
              padding: size(4) size(10);
              @include font($primaryFont, 12, medium, normal, 24);
              @include flex-center;
              gap: size(10);
              @include transitionsall;
              cursor: pointer;
              @include breakpoint(mobile576) {
                padding: size(6) size(14);
              }
              svg {
                path {
                  @include transitionsall;
                }
              }
              @include hover {
                @include setBgColor($primary,$white);
                border-color: $primary;
                svg {
                  path {
                    fill: $white;
                  }
                }
              }
            }
          }

        } 
        
        .profile-thumb {
          z-index: 2;
          position: relative;
          @include square(120);
          left: 50%;
          transform: translate(-50%);
          margin: size(20) size(0);
          img {
            @include wh100;
            @include circle;
            object-fit: cover;
          }

          .upload-profile {
            position: absolute;
            bottom: size(0);
            right: size(0);
            label {
              cursor: pointer;
              @include circle;
            }
          }
        }

        .btn-wrapper {
          @include flex-end;
          gap: size(14);
          @include breakpoint(mobile576) {
            gap: size(20);
          }
          
          .btn-submit {
            width: auto;
            @include font($primaryFont,14,semibold,normal,14);
          }
        }
      }
    }
  }
}
