@use "../../global" as *;
@use "../../partials" as *;

.modal {
  &-content {
    @include radius(8);
    border: none;
    border: 1px solid crimson;
  }

  &-header {
    border-bottom: 0;
   

    .btn-close {
      @include square(24);
      @include flex-center;
      overflow: hidden;
      opacity: 1;
      @include border(solid,1,$gray-300);
      @include circle;

      svg {
       @include square(14);
        @include transitiontransform;
      }

      @include hover {
        svg {
          @include rotate(90);

          path {
            // stroke: $danger;
          }
        }
      }
    }

  }

  &-body {
    margin-bottom: size(60);
    .step-container {
      @include w100;
      @include breakpoint(mobile768) {
        width: size(445);
        margin: auto
      }
      .form1 {
        @include flex-column;
          gap: size(16); 
          
          .inputbox {
            @include flex-column;
            gap: size(8);

            .inputlabel {
              color: $gray-600;
              @include font($primaryFont, 14, medium, normal, 17);
            }

            .inputfield , .textareafield {
              @include setBgColor($white, $gray-900);
              @include border(solid, 1, $gray-300);
              
              @include font($primaryFont, 14, medium, normal, 17);
              padding: size(13.5) size(16);
              @include transitionsall;
          

              &::placeholder {
                color: $textPlaceholder;
              }

              &:focus {
                border-color: $primary;
              }
            }
            .textareafield {
              height: size(218);
            }
          }

          .keywordbox {
            @include flex-column;
            gap: size(10);
            .border-shadow {
              @include border(solid,1,$gray-400);
             
            }
            .keywords {
             
              padding: size(16) ;
              padding-bottom: size(36);
              
            }
            .keyword-title {
              color: $gray-600;
              @include font($primaryFont, 14, medium, normal, 17);
            }

            .keywords {
              @include flex;
              gap: size(8);
              flex-wrap: wrap;
            }


          } 

          .btn-wrapper {
            width: size(180);
            margin-left: auto;
            padding-top: size(22);
            .btn-next {
              padding-inline: 0;
              font-size: size(14);
              @include font($primaryFont,14,semibold,normal,14);
               background: $primary;
            }
            
            
          }

      }

      .form2 {
        @include flex-column;
        gap: size(20);
        .cover-thumb {
          @include w100;
          height: size(214);
          position: relative;

          &:after {
            // content:'';
            // position:absolute;
            // @include wh100;
            // top:0; left:0;
            // background:rgba(0,0,0,0.5);
            // opacity:1;
            // @include radius(4);
            
        }
          img {
            @include wh100;
            object-fit: cover;
            @include radius(4);

          }
          .upload-cover {
            position: absolute;
            bottom: size(12);
            right: size(12);
            z-index: 1;

            .uploadcover {
              @include border(solid,1,$gray-600);
              @include setBgColor(transparent,$gray-600);
              padding: size(4) size(10);
              @include font($primaryFont, 12, medium, normal, 24);
              @include flex-center;
              gap: size(10);
              @include transitionsall;
              cursor: pointer;
              @include breakpoint(mobile576) {
                padding: size(6) size(14);
              }
              svg {
                path {
                  @include transitionsall;
                }
              }
              @include hover {
                @include setBgColor($primary,$white);
                border-color: $primary;
                svg {
                  path {
                    fill: $white;
                  }
                }
              }
            }
          }

        } 
        
        .profile-thumb {
          z-index: 2;
          position: relative;
          @include square(120);
          margin-left: size(26);
          img {
            @include wh100;
            @include circle;
            object-fit: cover;
          }

          .upload-profile {
            position: absolute;
            bottom: size(0);
            right: size(0);
            label {
              cursor: pointer;
              @include circle;
            }
          }
        }

        .btn-wrapper {
          @include flex-end;
          .btn-submit {
            width: auto;
            @include font($primaryFont,14,semibold,normal,14);
          }
        }
      }
    }
  }
}
