@use '../global' as *;
@use '../partials' as *;

/**======= STEP-PROGRESS =======**/
.stepprogress {
  position: sticky;
  top: size(60);
  z-index: 200;

  @include breakpoint(tab992) {
    top: size(88);
  }

  .progress {
    background: $bodybg;
    height: size(5);
    @include radius(0);

    &-bar {
      background: $primary;
    }
  }
}

/**======= BOOKING-SERVICES =======**/
.bookingservices {
  padding: size(24) size(0) size(76);

  .selectservices {
    &-header {
      @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));
      padding-bottom: size(12);
      margin-bottom: size(8);

      .title {
        font-weight: 500;
      }
    }

    &-body {
      @include flex-column;
      gap: size(24);

      .servicesliderinfo {
        position: relative;

        .swiper-button-prev,
        .swiper-button-next {
          @include square(28);
          padding: size(4);
          border: none;
          top: 60%;
  
          svg {
            @include wh100;
          }
  
          @include hover {
            background: transparent;
            border: transparent;
          }
        }
  
        .swiper-button-prev {
          left: size(-10);
        }
  
        .swiper-button-next {
          right: size(-10);
        }
      }

      .serviceselects {
        padding: size(16) size(0);

        .servicelist {
          @include list-horizontal;

          &-link {
            width: 92%;
            @include h100;
            border: none;
            @include radius(0);
            margin: 0;
            font-size: size(13);
            @include setBgColor($white, $headingText);
            @include border(solid, 0.5, $linkborder);
            @include radius(18.5);
            padding: size(4);
            @include flex-center-vert;
            gap: size(10);

            .titlebox {
              width: calc(100% - size(35));
              overflow: hidden;
              @include text-overflow;
  
              .title {
                color: $headingText;
                font-size: size(14);
                font-weight: 400;
              }
            }
  
            .count {
              @include square(24);
              @include border(solid, 0.5, rgba($primaryText, 0.3));
              @include circle;
              @include setBgColor($white, $headingText);
              font-size: size(13);
              font-weight: 400;
              @include flex-center;
              text-align: center;
            }

            &:hover:not(.active) {
              background: $pillbg;
            }

            &.active {
              background: rgba($primary, 0.3);
              border-color: transparent;
  
              .count {
                border-color: transparent;
              }
            }
  
            &:active {
              background: rgba($primary, 0.3);
              border-color: transparent;
  
              .count {
                border-color: transparent;
              }
            }
          }
        }
      }

      .services {
        @include flex-column;
        gap: size(24);

        .service-detail {
          @include flex-column;
          gap: size(32);
  
          &-header {
            .title {
              font-weight: 500;
            }
          }
  
          &-body {
            @include flex-column;
            gap: size(20);
          }
        }
      }
    }
  }

  .selectdatetime {
    &-header {
      @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));
      padding-bottom: size(12);
      margin-bottom: size(8);

      .title {
        font-weight: 500;
      }
    }

    &-body {
      @include flex-column;
      gap: size(48);

      .calendarinfo {
        @include flex-column;
        gap: size(24);

        &-header {
          .title {
            font-weight: 500;
          }
        }

        &-body {
          position: relative;

          .swiper-button-prev,
          .swiper-button-next {
            @include square(28);
            padding: size(4);
            border: none;
            top: 8.5%;
    
            svg {
              @include wh100;
            }
    
            @include hover {
              background: transparent;
              border: transparent;
            }
          }
    
          .swiper-button-prev {
            left: size(-10);
          }
    
          .swiper-button-next {
            right: size(-10);
          }
    
          .calendarslider {
            padding: size(16) size(0);
            @include flex-column;
            gap: size(64);
    
            .calendarlist {
              @include list-horizontal;
              position: relative;
    
              &-link {
                @include wh100;
                border: none;
                @include radius(0);
                margin: 0;
                font-size: size(13);
                background: transparent;
                color: $headingText;
                @include flex-center-column;
                gap: size(14);
  
                .activeicon {
                  @include flex-center;
                  width: size(26);
                  height: size(6);
                  overflow: hidden;
                  opacity: 0;
                  visibility: hidden;
  
                  svg {
                    @include wh100;
                  }
                }
  
                .linkinfo {
                  @include flex-center-column;
                  gap: size(2);
                  text-align: center;
  
                  span {
                    color: rgba($headingText, 0.3);
                    @include font($primaryFont, 17, normal, normal, 24);
                  
                    @include breakpoint(mobile768) {
                      font-size: size(19);
                    }
                  
                    @include breakpoint(tab992) {
                      font-size: size(21);
                    }
                  }
                }
  
                &:hover:not(.active) {
                  background: transparent;
  
                  .activeicon {
                    opacity: 1;
                    visibility: visible;
                  }
  
                  .linkinfo {
                    span {
                      color: $headingText;
                    }
                  }
                }
  
                &.active {
                  background: transparent;
  
                  .activeicon {
                    opacity: 1;
                    visibility: visible;
                  }
  
                  .linkinfo {
                    span {
                      color: $headingText;
                    }
                  }
                }
      
                &:active {
                  .activeicon {
                    opacity: 1;
                    visibility: visible;
                  }
  
                  .linkinfo {
                    span {
                      color: $headingText;
                    }
                  }
                }
              }
            }

            .sliderdetails {
              @include flex-column;
              gap: size(32);
            }
          }
        }
      }

      .datetimeinfo {
        @include flex-center;
        flex-wrap: wrap;
        gap: size(12);

        @include breakpoint(mobile576) {
          gap: size(16);
        }

        .timeslot {
          width: calc((100% / 4) - size(16));
          flex-grow: 1;

          .timeradio {
            &:checked:not(:disabled) ~ .timelabel {
              border-color: $green;
              color: $headingText;
              font-weight: 400;
            }

            &:disabled ~ .timelabel {
              color: rgba($primaryText, 0.3);
              cursor: not-allowed;
            }
          }

          .timelabel {
            // width: size(120);
            height: size(48);
            @include setBgColor($white, $primaryText);
            box-shadow: $timeshadow;
            @include border(solid, 1, $white);
            @include radius(8);
            cursor: pointer;
            @include flex-center;
            text-align: center;
            @include transitionsall;
          }
        }
      }

      .closedinfo {
        @include flex-center-column;
        gap: size(32);

        &-header {
          @include flex-center-column;
          gap: size(20);

          .icon {
            width: size(90);
            height: size(64);
            @include flex-center;
            overflow: hidden;

            svg {
              @include wh100;
            }
          }

          .headerinfo {
            @include flex-center-column;
            text-align: center;

            .title {
              color: $primaryText;
            }
  
            .text {
              color: $primaryText;
            }
          }
        }

        &-body {
          @include flex-center;
        }
      }
    }
  }

  .signup {
    &-header {
      @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));
      padding-bottom: size(12);
      margin-bottom: size(48);

      .title {
        font-weight: 500;
      }
    }

    &-body {
      @include flex-center-column;
      gap: size(24);

      .login-body {
        @include w100;
        @include flex-center-column;
        gap: size(24);

        .titlebox {
          @include flex-center-vert;
          gap: size(14);
          @include w100;
          flex: 1;

          .title {
            width: size(120);
          }

          .line {
            width: calc((100% - size(134)) / 2);
            height: size(1);
            @include flex-center;
            overflow: hidden;

            svg {
              @include wh100;
            }
          }
        }

        .signwithsocial {
          @include w100;
          @include flex-center-between;
          gap: size(10);
          flex-wrap: wrap;

          .btn-signin {
            background: $white;
            @include border(solid, 1, $signinborder);
            @include radius(4);
            @include flex-center;
            gap: size(10);
            padding: size(10) size(16);
            @include w100;

            @include breakpoint(mobile768) {
              width: calc((100% / 2) - size(10));
            }

            .icon {
              @include square(26);
              @include flex-center;
              overflow: hidden;

              svg {
                @include wh100;
              }
            }

            .text {
              color: $primaryText;
              width: calc(100% - size(36));
            }
          }
        }

        .infobox {
          margin-top: size(8);
          @include flex-center;
          text-align: center;
  
          .text {
            .link {
              font-weight: 500;
              color: $primaryText;
              @include transitionscolor;
  
              @include hover {
                color: darken($primary, 20%);
              }
            }
          }
        }
      }
    }
  }

  .reviwconfirm {
    &-header {
      @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));
      padding-bottom: size(8);
      margin-bottom: size(12);

      .title {
        font-weight: 500;
      }
    }

    &-body {
      @include flex-column;
      gap: size(36);

      .couponcode {
        @include flex-column;
        gap: size(16);

        &-header {
          @include flex-column;
          gap: size(4);

          .title {
            font-weight: 500;
          }

          .text {
            font-weight: 300;
          }
        }

        &-body {
          @include flex-column;
          gap: size(6);

          .couponbox {
            background: $white;
            @include flex-center-vert;
            @include border(solid, 1, $signinborder);
            @include radius(4);
            overflow: hidden;
            padding: size(10) size(0) size(12) size(16);
            @include transitionsall;

            .couponfleld {
              width: calc(100% - size(80));
              @include h100;

              .couponinput {
                @include wh100;
                color: $primaryText;

                &::placeholder {
                  color: rgba($primaryText, 0.3);
                }
              }
            }

            .couponapply {
              width: size(80);
              @include h100;
              @include flex-center;

              .btn-apply {
                color: rgba($primaryText, 0.6);
                font-size: size(19);
                @include transitionscolor;

                @include hover {
                  color: $primaryText;
                }
              }
            }

            &:focus-within {
              border-color: $primary;
            }
          }

          .text {
            color: $green;
            font-size: size(14);
            font-weight: 300;
          }
        }
      }

      .bookingnotes {
        @include flex-column;
        gap: size(16);

        &-header {
          @include flex-column;
          gap: size(4);

          .title {
            font-weight: 500;
          }

          .text {
            font-weight: 300;
          }
        }

        &-body {
          .notebox {
            @include setBgColor($white, $primaryText);
            padding: size(16);
            @include border(solid, 1, $signinborder);
            @include radius(4);
            @include transitionsall;
            @include w100;

            &:focus {
              border-color: $primary;
            }
          }
        }
      }

      .policy {
        @include flex-column;
        gap: size(4);

        .title {
          font-weight: 500;
        }

        .text {
          font-weight: 300;
        }
      }
    }
  }

  .makeupconsultancy {
    &-header {
      @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));
      padding-bottom: size(8);
      margin-bottom: size(12);

      .title {
        font-weight: 500;
      }
    }

    &-body {
      .inputbox {
        @include flex-column;
        gap: size(6);
        
        .inputlabel {
          font-weight: 400;
          
          span {
            color: $danger;
          }
        }

        .inputfield,
        .textfield {
          @include setBgColor($white, $primaryText);
          @include border(solid, 1, $signinborder);
          @include radius(4);
          padding: size(16);
          @include transitionsall;

          &:focus {
            border-color: $primary;
          }
        }

        .inputfield {
          height: size(48);
        }
      }

      .selectbox {
        @include flex-column;
        gap: size(6);
        
        .selectlabel {
          font-weight: 400;

          span {
            color: $danger;
          }
        }

        .nice-select {
          border-color: $signinborder;
          @include radius(4);
          padding-left: size(16);
        }
      }
    }
  }

  .dermatologyconsultancy {
    &-header {
      @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));
      padding-bottom: size(8);
      margin-bottom: size(12);

      .title {
        font-weight: 500;
      }
    }

    &-body {
      .inputbox {
        @include flex-column;
        gap: size(6);
        
        .inputlabel {
          font-weight: 400;
          
          span {
            color: $danger;
          }
        }

        .inputfield,
        .textfield {
          @include setBgColor($white, $primaryText);
          @include border(solid, 1, $signinborder);
          @include radius(4);
          padding: size(16);
          @include transitionsall;

          &:focus {
            border-color: $primary;
          }
        }

        .inputfield {
          height: size(48);
        }

        .radios {
          @include flex-center-vert;
          gap: size(32);
        }
      }

      .selectbox {
        @include flex-column;
        gap: size(6);
        
        .selectlabel {
          font-weight: 400;

          span {
            color: $danger;
          }
        }

        .nice-select {
          border-color: $signinborder;
          @include radius(4);
          padding-left: size(16);
        }
      }
    }
  }

  .bookingside {
    background: $sidebg;
    @include border(solid, 1, $sideborder);
    @include radius(8);
    box-shadow: $sideshadow;
    @include flex-column;
    gap: size(20);
    padding: size(24);
    position: sticky;
    top: size(117);

    &-header {
      @include flex-column;
      gap: size(10);

      .title {
        color: $headingText;
        font-weight: 500;
      }

      .info {
        .location {
          color: $headingText;
          font-size: size(14);
          // letter-spacing: size(0.32);
          line-height: 1.7;
        }
      }
    }

    &-body {
      @include flex-column;

      .serviceinfo,
      .subtotal,
      .total {
        @include border-single(top, dashed, 1.5, rgba($headingText, 0.3));
        padding: size(20) size(0);
      }

      .serviceinfo {
        @include flex-center-between;

        .title-duration {
          @include flex-column;

          .servicetitle {
            color: $headingText;
          }

          .duration {
            color: $headingText;
            font-size: size(14);
          }
        }

        .prices {
          @include flex-column;
          
          .currentprice {
            color: $headingText;
          }

          .previousprice {
            color: rgba($headingText, 0.6);
            font-size: size(14);
            text-decoration: line-through;
          }
        }
      }

      .subtotal {
        @include flex-column;
        gap: size(10);

        .subtotalinfo {
          @include flex-center-between;

          .title,
          .price {
            font-weight: 400;
          }
        }

        .couponinfo {
          @include flex-center-between;

          .title,
          .coupon {
            color: rgba($headingText, 0.6);
            font-weight: 400;
          }
        }
      }

      .total {
        @include flex-center-between;

        .title,
        .totalprice {
          color: $headingText;
          font-weight: 500;
        }
      }
    }
  }
}

.bookingsuccessful {
  @include flex-center-column;
  gap: size(40);
  height: calc(100vh - size(60));

  @include breakpoint(tab992) {
    height: calc(100vh - size(88));
  }

  &-header {
    @include flex-center;

    .icon {
      width: size(134);
      height: size(166);
      @include flex-center;
      overflow: hidden;

      svg {
        @include wh100;
      }
    }
  }

  &-body {
    @include flex-center-column;
    gap: size(12);
    text-align: center;

    .title {
      color: $primaryText;
      font-weight: 500;
    }

    .text {
      letter-spacing: size(0.32);
    }
  }
}