@use '../global' as *;
@use '../partials' as *;

.support {
  padding: size(32) size(0) size(48);

  @include breakpoint(tab992) {
    padding: size(32) size(0) size(80);
  }

  &-content {
    @include flex-column;
    gap: size(28);
  }
  
  &-header {
    padding-bottom: size(10);
    @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));

    .title {
      font-weight: 500;
    }
  }

  &-body {
    @include flex-center;

    .supportform {
      max-width: 100%;
      @include flex-column;
      gap: size(20);

      @include breakpoint(mobile480) {
        max-width: size(430);
      }

      .inputbox {
        @include flex-column;
        gap: size(8);

        .inputlabel {
          font-weight: 400;
          color: $primaryText;
        }

        .inputfield {
          @include setBgColor($white, $headingText);
          @include border(solid, 1, $signinborder);
          @include radius(4);
          padding: size(12) size(16);
          @include transitionsall;

          &::placeholder {
            color: rgba($primaryText, 0.3);
          }

          &:focus {
            border-color: $primary;
          }
        }

        .info {
          .text {
            font-size: size(14);
          }
        }
      }

      .submitbox {
        margin-top: size(16);

        .submitinfo {
          width: size(200);
        }
      }
    }
  }
}