@use "../global" as *;
@use "../partials" as *;

/**======= HOME-BANNER =======**/

.welcome {
    background: url(../images/welcome.png) no-repeat center center/cover;
    margin: size(20) size(0);
    min-height: size(105);
    @include flex-center-vert;
    @include w100;
    @include radius(5);
    overflow: hidden;

    &-info {
        padding: size(0) size(24);
    }
    
    &-title {
        color: $white;
        @include font($primaryFont,18,semibold,normal,24);

        @include breakpoint (tab992){
            @include font($primaryFont,20,semibold,normal,24);
        }
    }

    &-text {
        color: $gray-400;
        @include font($primaryFont,14,medium,normal,20);
        margin-top: size(8);

        @include breakpoint (tab992){
            @include font($primaryFont,16,medium,normal,20);
        }
    }
}


 // Congratulation and subscriber part
 .congratulation-sub {
    .congratulation{
        background: url(../../assets/images/home/congratulationbg.png) no-repeat;
        height: 100%;
        min-height: size(300);
        background-size: cover;
        background-position: center center;
        padding: size(30) size(30);
        @include breakpoint(tab992) {
            padding: size(60) size(40);
        }
        &-title{
            color: $gray-800;
            @include font($primaryFont,26,semibold,normal,32);
            @include breakpoint (desktop1200){
                @include font($primaryFont,36,semibold,normal,42);
            }
            span{
                color: $gray-600;
                @include font($primaryFont,20,semibold,normal,26);
                @include breakpoint (desktop1200){
                    @include font($primaryFont,28,semibold,normal,34);
                }
            }
        }
    }
}

.recent-subscriber {
    background-color:$white;
    padding:size(14);
    @include radius(5);
    &-content {
        @include flex-column;
        gap: size(20);
    }
    &-header {
        .recent-title {
            color: $gray-800;
            @include font($primaryFont,18,bold,normal,24);
            @include breakpoint (desktop1200){
                @include font($primaryFont,20,bold,normal,24);
            }
        }
    }
    &-body {
        .subscriber-list {
            @include list-vertical;
            gap: size(10);
            &-item {
                @include border (solid,1,$gray-400);
                @include radius(10);
                padding: size(14);
                @include flex-center-between;
                .subscriber{
                    @include flex-center;
                    gap: size(16);
        
                    &-image{
                        @include square(24);
                        @include circle;
                        overflow: hidden;
                        @include breakpoint (tab992){
                            @include square(30);
                        }
                        img{
                            @include wh100;
                            object-fit: cover;
        
                        }
                    }
                    &-name{
                        @include font($primaryFont,14,semibold,normal,18);
                        color: $textdark;
                        @include breakpoint(tab992) {
                            @include font($primaryFont,16,semibold,normal,18);
                        }
                    }
                }
                .time{
                    color: $gray-500;
                    @include font($primaryFont,14,medium,normal,20);
                }
            }
        }
    }
}


 // view-comment
 .view-comment {
    padding: size(14) size(0);
    .view {
        background: $white;
        @include h100;
        @include radius(6);
    }
    // latest comment
    .latest-comment {
        background-color: $white;
        @include h100;
        padding: size(10);
        @include radius(6);
        &-content {
            @include flex-column;
            gap: size(20);
            .latest-title{
                color: $gray-800;
                @include font($primaryFont,18,bold,normal,24);
                @include breakpoint (desktop1200){
                    @include font($primaryFont,20,bold,normal,24);
                }
            }
        }
    }
}

.videoshome {
    margin: size(14) size(0);
    &-content {
        @include flex-column;
        gap: size(24);
        background: $white;
        padding: size(14) size(14);
        @include radius(6);
       
    }
    &-header {
        @include flex-center-between;
        .videos-title {
            color: $gray-800;
            @include font($primaryFont,18,bold,normal,24);
            @include breakpoint (desktop1200){
                @include font($primaryFont,20,bold,normal,24);
            }
        }
    }
    &-body {
        @include flex-column;
        gap: size(24);
        .video-des {
            @include flex-center-between;
            padding: size(10) size(30);
            color: $gray-700;
            @include border(solid,1,$gray-300);    
            @include radius(10);
            min-height: size(60);
            @include font($primaryFont,16,semibold,normal,20);
          
        }

        .videolist {
            @include list-vertical;
            gap: size(12);
            &-item {
            @include border(solid,1,$gray-300);    
            @include radius(10);
            .single-video {
                @include flex-between;
                padding: size(10) size(30);
                color: $gray-600;
                @include transitionsbackground;
                @include hover {
                    background-color: #f8f9fa;
                }
                .video-info {
                    @include flex-center-vert;
                    gap: size(10);
                    .thumb-image {
                        width: size(82);
                        height: size(46);
                        overflow: hidden;
                        @include radius (4);
                        img {
                            @include wh100;
                            object-fit: contain;
                        }
                    }
                    .video-name {
                        @include font($primaryFont,14,medium,normal,20);
                        flex: 1;
                        @include line-clamp;
                    }
                }
            }
                
            }
        }
    }
}