@use '../global'as *;
@use '../partials'as *;

.myforms {
  padding: size(32) size(0) size(48);

  @include breakpoint(tab992) {
    padding: size(32) size(0) size(80);
  }

  &-content {
    @include flex-column;
    gap: size(24);
  }
  
  &-header {
    padding-bottom: size(20);
    @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));

    .title {
      font-weight: 500;
    }
  }

  &-body {
    @include flex-column;
    gap: size(40);

    .accordion {
      border: none;
      @include flex-column;
      gap: size(20);
      background: transparent;

      &-item {
        border: none;
        @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));
        background: transparent;
        @include radius(0);

        &:first-of-type,
        &:last-of-type {
          .accordion-button {
            @include radius(0);
          }
        }
      }

      &-button {
        border: none;
        @include flex-column;
        align-items: flex-start;
        padding-bottom: size(20);
        @include radius(0);
        flex-wrap: wrap;
        gap: size(14);
        position: relative;
        box-shadow: none;
        @include border-single(bottom, solid, 1, transparent);

        @include breakpoint(mobile480) {
          flex-direction: row;
          justify-content: space-between;
          padding-right: size(48);
        }

        @include breakpoint(mobile768) {
          padding-right: size(0);
        }

        &:not(.collapsed) {
          background: transparent;
          box-shadow: none;
          color: inherit;
          border-color: rgba($primaryText, 0.2);

          &::after {
            background: transparent;
            content: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6012 0.500626C11.5167 0.418836 11.4032 0.373047 11.2851 0.373047C11.167 0.373047 11.0535 0.418836 10.969 0.500626L6.23793 5.07013L1.50781 0.500626C1.4233 0.418836 1.30985 0.373047 1.19171 0.373047C1.07357 0.373047 0.960121 0.418836 0.875609 0.500626C0.8344 0.540382 0.801646 0.587915 0.779281 0.640419C0.756916 0.692923 0.745394 0.749334 0.745394 0.806323C0.745394 0.863311 0.756916 0.919723 0.779281 0.972227C0.801646 1.02473 0.8344 1.07226 0.875609 1.11202L5.90764 5.97128C5.99601 6.05662 6.11453 6.10439 6.23793 6.10439C6.36134 6.10439 6.47986 6.05662 6.56823 5.97128L11.6003 1.11202C11.6415 1.07226 11.6742 1.02473 11.6966 0.972227C11.7189 0.919723 11.7305 0.863311 11.7305 0.806323C11.7305 0.749334 11.7189 0.692923 11.6966 0.640419C11.6742 0.587915 11.6424 0.540382 11.6012 0.500626Z' fill='%234B4B4B'/%3E%3C/svg%3E%0A");
          }
        }

        &::after {
          width: auto;
          height: auto;
          @include square(32);
          @include border(solid, 1, $primaryText);
          @include circle;
          background: transparent;
          @include flex-center;
          content: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6012 0.500626C11.5167 0.418836 11.4032 0.373047 11.2851 0.373047C11.167 0.373047 11.0535 0.418836 10.969 0.500626L6.23793 5.07013L1.50781 0.500626C1.4233 0.418836 1.30985 0.373047 1.19171 0.373047C1.07357 0.373047 0.960121 0.418836 0.875609 0.500626C0.8344 0.540382 0.801646 0.587915 0.779281 0.640419C0.756916 0.692923 0.745394 0.749334 0.745394 0.806323C0.745394 0.863311 0.756916 0.919723 0.779281 0.972227C0.801646 1.02473 0.8344 1.07226 0.875609 1.11202L5.90764 5.97128C5.99601 6.05662 6.11453 6.10439 6.23793 6.10439C6.36134 6.10439 6.47986 6.05662 6.56823 5.97128L11.6003 1.11202C11.6415 1.07226 11.6742 1.02473 11.6966 0.972227C11.7189 0.919723 11.7305 0.863311 11.7305 0.806323C11.7305 0.749334 11.7189 0.692923 11.6966 0.640419C11.6742 0.587915 11.6424 0.540382 11.6012 0.500626Z' fill='%234B4B4B'/%3E%3C/svg%3E%0A");;
          transition: none;
          margin-left: 0;

          // ADDED NEW STYLE
          position: absolute;
          top: 0;
          right: 0;

          @include breakpoint(mobile768) {
            position: static
          }
        }

        .details {
          @include flex-center-vert;
          gap: size(16);

          .thumbnail {
            @include square(64);
            @include radius(8);
            @include flex-center;
            overflow: hidden;

            img {
              @include wh100;
            }
          }

          .description {
            @include flex-column;

            .title {
              color: $headingText;
              font-weight: 500;
            }

            .date {
              color: $gray;
              font-size: size(16);
              font-weight: 400;
            }

            .time {
              color: $gray;
              font-size: size(16);
              font-weight: 400;
            }
          }
        }

        .servicestatus {
          @include breakpoint(mobile480) {
            margin-left: auto;
          }
        }
      }

      &-body {
        padding: size(20) size(0);
        background: transparent;

        .forminfo {
          @include flex-column;
          gap: size(10);

          .sessionid {
            .idlink {
              color: $adorablue;
              font-size: size(14);
              font-weight: 400;
              letter-spacing: size(0.32);
              @include transitionscolor;
  
              @include breakpoint(tab992) {
                font-size: size(16);
              }
  
              @include hover {
                color: $blue;
              }
            }
          }

          .namebox {
            .name {
              .title {
                font-weight: 400;
              }
            }
          }

          .info {
            &-list {
              @include list-horizontal;
              gap: size(10);
              flex-wrap: wrap;

              &-item {
                .title {
                  font-weight: 400;
                }
              }
            }
          }
        }

        .description {
          @include flex-column;
          gap: size(20);
        }
      }
    }
  }
}