@use '../global' as *;
@use '../partials' as *;

.myreviews {
  padding: size(32) size(0) size(48);

  @include breakpoint(tab992) {
    padding: size(32) size(0) size(80);
  }

  &-content {
    @include flex-column;
    gap: size(28);
  }
  
  &-header {
    padding-bottom: size(10);
    @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));

    .title {
      font-weight: 500;
    }
  }

  &-body {
    @include flex-column;
    gap: size(24);

    .review {
      @include border-single(bottom, solid, 1, rgba($primaryText, 0.2));
      padding-bottom: size(24);
      @include flex-column;
      gap: size(20);

      &-header {
        @include flex;
        gap: size(16);

        .review-thumbnail {
          @include square(64);
          @include flex-center;
          @include radius(8);
          overflow: hidden;

          img {
            @include wh100;
          }
        }
        
        .details {
          @include flex-column;
          gap: size(4);

          .titlebox-editbox {
            @include flex-center-vert;
            gap: size(14);

            .titlebox {
              .title {
                color: $headingText;
                font-size: size(19);
                font-weight: 400;
              }
            }

            .editbox {
              @include square(24);
              @include flex-center;
              overflow: hidden;

              .btn-edit {
                @include wh100;
                @include flex-center;
                overflow: hidden;
                border: none;

                svg {
                  @include wh100;
                }

                &:focus:not(:focus-visible) {
                  outline: none;
                  border: none;
                }
              }
            }
          }

          .reviewlist-datetime {
            @include flex-center-vert;
            gap: size(16);

            .reviewlist {
              @include list-horizontal;
              gap: size(4);

              &-item {
                cursor: pointer;

                svg {
                  @include wh100;
                }
              }
            }

            .datetime {
              display: inline-block;
              margin-top: size(3);

              .date {
                font-size: size(14);
                color: $primaryText;
              }
            }
          }
        }
      }

      &-body {
        @include flex-column;
        gap: size(24);

        .text {
          color: $primaryText;
        }

        .reviewthumb {
          @include square(150);
          @include radius(4);
          @include flex-center;
          overflow: hidden;

          img {
            @include wh100;
          }
        }
      }
    }
  }
}