@use "../global" as *;
@use "../partials" as *;

.myprofile {
  @include flex-column;
  gap: size(32);


  &-header {
    .title {
      color: $gray-700;
      @include font($primaryFont, 20, bold, normal, 24);
    }
  }

  &-body {
    @include flex-column;
    background: $white;

    @include breakpoint(tab992) {
      flex-direction: row;
    }

    .myprofilemenu {
      background: $white;

      @include breakpoint(tab992) {
        width: size(238);
        min-height: size(615);
      }

      .myprofilelist {
        @include list-horizontal;

        @include breakpoint(tab992) {
          flex-direction: column;
          gap: size(8);
          @include border-single(right, solid, 1, $gray-300);
          @include h100;
          min-height: size(615);
          padding-top: size(36);
        }

        &-item {
          width: calc((100% - size(8) / 2));

          @include breakpoint(tab992) {
            @include w100;
          }
        }

        &-link {
          @include flex-center;
          padding: size(14);
          color: $gray-700;
          @include font($primaryFont, 13, medium, normal, 18.2);

          @include breakpoint(tab992) {
            font-size: size(14);
          }

          &:hover:not(.active) {
            background: $gray-200;

            @include breakpoint(tab992) {
              background: $activebg;
            }
          }

          &.active {
            background: $gray-200;

            @include breakpoint(tab992) {
              background: $activebg;
            }
          }

          @include breakpoint(tab992) {
            justify-content: flex-start;
            padding-left: size(32);
          }
        }
      }
    }

    .profilecontent {
      padding: size(32) size(20);
      @include flex-column;
      gap: size(40);

      @include breakpoint(tab992) {
        width: calc(100% - size(238));
        padding: size(40);
      }

      &-header {
        @include flex-center-column;
        gap: size(24);
        text-align: center;

        .profilepic {
          position: relative;
          @include square(140);
          @include circle;
          @include flex-center;

          img {
            @include circle;
            @include wh100;
            object-fit: cover;
            position: relative;
          }

          .upload {
            @include square(48);
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 100;

            .uploadprofile {
              @include wh100;
              @include flex-center;
              overflow: hidden;

              svg {
                @include wh100;

                circle {
                  cursor: pointer;
                }
              }
            }
          }
        }

        .username {
          color: $gray-700;
          @include font($primaryFont, 20, bold, normal, 24);
        }
      }

      &-body {
        @include flex-center;
        .profileform {
          @include flex-column;
          gap: size(16);
          @include w100;

          @include breakpoint(mobile768) {
            width: size(445);
          }

          .inputbox {
            @include flex-column;
            gap: size(8);

            .inputlabel {
              color: $textPrimary;
              @include font($primaryFont, 14, medium, normal, 17);
            }

            .inputfield {
              @include setBgColor($white, $gray-900);
              @include border(solid, 1, $gray-300);
              @include radius(6);
              @include font($primaryFont, 14, medium, normal, 17);
              padding: size(13.5) size(16);
              @include transitionsall;

              &::placeholder {
                color: $textPlaceholder;
              }

              &:focus {
                border-color: $primary;
              }
            }
          }

          .submitbox {
            @include flex-end;
            margin-top: size(16);

            .savebox {
              width: size(140);

              .btn-submit {
                font-size: size(14);
                font-weight: 600;
              }
            }
          }
        }
      }
      .settingsform {
        @include w100;
        @include flex-column;
        gap: size(16);
        @include breakpoint(mobile768) {
          width: size(444);
        } 

        @include breakpoint(tab992) {
          @include w100;
        }

        @include breakpoint(desktop1100) {
          width: size(444);
        } 

        &-header {

          .cover-thumb {
            @include w100;
            height: size(214);
            position: relative;

            &:after {
              content:'\A';
              position:absolute;
              @include wh100;
              top:0; left:0;
              background:rgba(0,0,0,0.5);
              opacity:1;
              @include radius(4);
              
          }
            img {
              @include wh100;
              object-fit: cover;
              @include radius(4);

            }
            .upload-cover {
              position: absolute;
              bottom: size(12);
              right: size(12);
              z-index: 1;

              .uploadcover {
                @include border(solid,1,$white);
                @include setBgColor(transparent,$white);
                padding: size(4) size(10);
                @include font($primaryFont, 12, medium, normal, 24);
                @include flex-center;
                gap: size(10);
                @include transitionsall;
                cursor: pointer;
                @include breakpoint(mobile576) {
                  padding: size(6) size(14);
                }
                @include hover {
                  @include setBgColor($primary,$white);
                  border-color: $primary;
                }
              }
            }

          }
          .profile-thumb {
            margin-top:size(-60);
            z-index: 2;
            position: relative;
            @include square(120);
            margin-left: size(26);
            img {
              @include wh100;
              @include circle;
              object-fit: cover;
            }
  
            .upload-profile {
              position: absolute;
              bottom: size(0);
              right: size(0);
              label {
                cursor: pointer;
                @include circle;
              }
            }
          }
        }

        
      

        &-body{
          @include flex-column;
          gap: size(16); 
          
          .inputbox {
            @include flex-column;
            gap: size(8);

            .inputlabel {
              color: $gray-600;
              @include font($primaryFont, 14, medium, normal, 17);
            }

            .inputfield , .textareafield {
              @include setBgColor($white, $gray-900);
              @include border(solid, 1, $gray-300);
              
              @include font($primaryFont, 14, medium, normal, 17);
              padding: size(13.5) size(16);
              @include transitionsall;
              filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.07));

              &::placeholder {
                color: $textPlaceholder;
              }

              &:focus {
                border-color: $primary;
              }
            }
            .textareafield {
              height: size(218);
            }
          }

          .keywordbox {
            @include flex-column;
            gap: size(10);
            .border-shadow {
              @include border(solid,1,$gray-400);
              filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.07));
            }
            .keywords {
             
              padding: size(16) ;
              padding-bottom: size(36);
              
            }
            .keyword-title {
              color: $gray-600;
              @include font($primaryFont, 14, medium, normal, 17);
            }

            .keywords {
              @include flex;
              gap: size(8);
              flex-wrap: wrap;
            }


          } 

          .btn-wrapper {
            width: size(180);
            margin-left: auto;
            padding-top: size(22);
            .btn-submit {
              padding-inline: 0;
              font-size: size(14);
            }
            
            &.delete-wrapper {
              padding-top: size(10);
              .btn-submit {
                padding-inline: 0;
                font-size: size(14);
              }
            }
          }

         

        }
      }
  


      .changepassword {
        @include wh100;
        @include flex-center;

        .changeform {
          @include flex-column;
          gap: size(16);
          @include w100;

          @include breakpoint(mobile768) {
            width: size(445);
          }

          .inputbox {
            @include flex-column;
            gap: size(8);

            .inputlabel {
              color: $textPrimary;
              @include font($primaryFont, 14, medium, normal, 17);
            }

            .inputfield {
              @include setBgColor($white, $gray-900);
              @include border(solid, 1, $gray-300);
              @include radius(6);
              @include font($primaryFont, 14, medium, normal, 17);
              padding: size(13.5) size(16);
              @include transitionsall;

              &::placeholder {
                color: $textPlaceholder;
              }

              &:focus {
                border-color: $primary;
              }
            }
          }

          .submitbox {
            @include flex-end;
            margin-top: size(16);

            .savebox {
              width: size(140);

              .btn-submit {
                font-size: size(14);
                font-weight: 600;
              }
            }
          }
        }
      }
    }

        
    // support page 

      .form-wrapper {
        padding: size(20);
        @include breakpoint(mobile414) {
          padding: size(30);
        }
        @include breakpoint(mobile480) {
          padding: size(36);
        }
        @include breakpoint(mobile576) {
          padding: size(40);
        }
        @include breakpoint(mobile768) {
          padding: size(48);
        }
        @include breakpoint(tab992) {
          padding: size(60);
        }

      }
    .supportform{
      @include w100;
      @include flex-column;
      gap: size(16);
  
  
      @include breakpoint(mobile768) {
        width: size(444);
      } 

     

     

      &-header {
        @include flex-column;
        gap: size(16); 
        
        .inputbox {
          @include flex-column;
          gap: size(8);

          .inputlabel {
            color: $gray-600;
            @include font($primaryFont, 14, medium, normal, 17);
          }

          .inputfield , .textareafield {
            @include setBgColor($white, $gray-900);
            @include border(solid, 1, $gray-300);
            
            @include font($primaryFont, 14, medium, normal, 17);
            padding: size(13.5) size(16);
            @include transitionsall;
           

            &::placeholder {
              color: $textPlaceholder;
            }

            &:focus {
              border-color: $primary;
            }
          }
          .textareafield {
            height: size(218);
          }
        }
        .btn-wrapper {
          width: size(180);
          padding-inline: 0;
          margin: auto;
          @include breakpoint(mobile576) {
            margin-left: auto;
            margin-right: 0;
          }
          padding-top: size(14);
          .btn-submit {
            font-size: size(14);
          }
        }
        
      }
      &-footer {
        @include flex-center;
        flex-direction: column;
        gap: size(16);
        @include font($primaryFont,16,normal,normal,14);
        color: $gray-700;
        @include breakpoint(mobile768) {
          gap: size(24);
        }
        a {
          color: $primary;
          @include font($primaryFont,14,bold,normal,14);
        }
      }
    }
  }
}
