@use '../global' as *;
@use '../partials' as *;

.products {
  padding: size(32) size(0);

  @include breakpoint(desktop1400) {
    padding: size(48) size(0);
  }

  &-body {
    display: grid;
    grid-gap: size(16);
    grid-template-columns: repeat(auto-fit, minmax(size(150), 1fr));
    grid-template-rows: auto;

    @include breakpoint(mobile500) {
      grid-template-columns: repeat(auto-fit, minmax(size(200), 1fr));
    }
  }
}