@use "../global" as *;
@use "../partials" as *;

.customcheck {
  &-box {
    &:checked ~ .customcheck-label {
      &::before {
        // background: $primaryText;
        // border-color: $primaryText;
      }

      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-label {
    position: relative;
    // color: $primaryText;
    font: inherit;
    font-weight: 300;
    padding-left: size(26);
    cursor: pointer;

    .link {
      color: inherit;
      font-weight: 400;
      text-decoration: underline;
      @include transitionsall;

      @include hover {
        text-decoration: none;
        // color: darken($primary, 20%);
      }
    }

    &::before,
    &::after {
      content: "";
      @include absolute(top 50% left 0);
    }

    &::before {
      @include square(18);
      @include radius(4);
      // @include border(solid, 1, $linkborder);
      @include translateY(-50%);
      @include transitionsall;
    }

    &::after {
      width: size(5);
      height: size(10);
      @include border(solid, 1.5, $white);
      border-top: 0;
      border-left: 0;
      left: size(7);
      @include transform(translateY(-70%) rotate(45deg));
      opacity: 0;
      visibility: hidden;
      @include transitionsall;
    }

    &::selection {
      // @include setBgColor(transparent, $primaryText);
    }
  }
}
