@use '../global' as *;
@use '../partials' as *;

.nice-select {
	@include flex-center-vert;
	border-color: $signinborder !important;
	@include w100;
	height: size(48);
	line-height: size(48);

	&::after {
		border: none;
		content: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M1 1L8.5 8L16 1' stroke='%234B4B4B' stroke-width='1.58' stroke-linecap='round'/%3E%3C/svg%3E%0A");
		width: size(17);
		height: size(10);
		margin-top: size(0);
		@include rotate(0);
		transform-origin: 0%;
		top: 35%;
		right: size(16);
		@include translateY(40%);
		@include flex-center;
		@include transitiontransform;
	}

	.current {
		color: $primaryText;
	}

	.list {
		background: $white;
	}

	&-dropdown {
		@include w100;
		border-color: $linkborder;
		box-shadow: none !important;
	}

	&.open {
		border-color: $primary !important;

		&::after {
			transform: rotateX(180deg) !important;
			top: auto;
			// transform-origin: 0%;
		}

		.current {
			color: rgba($primaryText, 0.3);
		}
	}
}