@use "../global" as *;
@use "../partials" as *;



.select-wrapper {
	position: relative;
	user-select: none;
	@include w100;
  
	.select {
	  position: relative;
  
	  &-trigger {
		position: relative;
		@include flex-center;
		cursor: pointer;
		height: size(40);
		overflow: hidden;
		width: size(110);
		@include border(solid,1,$gray-400);
  
		.selectedvalue {
		  color: $gray-600;
		  @include font($primaryFont, 14, normal, normal, 20);
		  // opacity: 0;
		}
  
		.arrow {
		  @include square(30);
		  @include flex-center;
		  overflow: hidden;
		  margin-left: size(10);
		 
  
		  svg {
			@include transitiontransform;
		  }
		}
	  }
  
	  .custom-options {
		position: absolute;
		display: block;
		top: 100%;
		left: 0;
		right: 0;
		box-shadow: rgba(149, 157, 165, 0.2) size(0) size(8) size(24);
		
		
		@include double-radius(bottom, left, 4, bottom, right, 4);
		// @include radius(6);
		background: $white;
		@include transitionsall;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		z-index: 2;
		overflow-y: scroll;
		max-height: size(240);
  
		&::-webkit-scrollbar {
		  background: transparent;
		//   width: size(4);
		width: 0;
		}
	
		&::-webkit-scrollbar-thumb {
		  background: $gray-200;
		//   @include radius(4);
		}
  
		.custom-option {
		  position: relative;
		  display: block;
		  cursor: pointer;
		  padding: size(8);
		  @include transitionsall;
		  color: $gray-600;
		  @include font($primaryFont, 14, normal, normal, 20);

  
		  &:hover {
			cursor: pointer;
			@include setBgColor($gray-200, $gray-600);
		  }
  
		  &.selected {
			// @include setBgColor($primary, $white);
  
		  }
		}
	  }
  
	  &.open {
		.select-trigger {
		  .arrow {
			svg {
			  @include rotate(180);
			}
		  }
		}
  
		.custom-options {
		  opacity: 1;
		  visibility: visible;
		  pointer-events: all;
		}
	  }
	}
  } 
  
  

.date-select{
	.select-wrapper {
		position: relative;
		user-select: none;
		@include w100;
	  
		.select {
		  position: relative;
	  
		  &-trigger {
			position: relative;
			@include flex-between;
			cursor: pointer;
			height: size(80);
			overflow: hidden;
			width: size(200);
			border: none;
			padding: 0 size(10);

			.date-wrapper {
				@include flex-column;
				gap: size(4);


				.date {
					@include font($primaryFont, 14, medium, normal, 20);
					color: $gray-600;
				}

				.selectedvalue {
					color: $gray-600;
					@include font($primaryFont, 16, bold, normal, 20);
				}
			}
	  
			.selectedvalue {
			  color: $gray-600;
			  @include font($primaryFont, 14, normal, normal, 20);
			  // opacity: 0;
			}
	  
			.arrow {
			  @include square(20);
			  @include flex-center;
			  overflow: hidden;
			  margin-left: size(10);
			 
	  
			  svg {
				@include transitiontransform;
			  }
			}
		  }
	  
		  .custom-options {
			position: absolute;
			display: block;
			top: 100%;
			left: 0;
			right: 0;
			box-shadow: rgba(149, 157, 165, 0.2) size(0) size(8) size(24);
			@include double-radius(bottom, left, 4, bottom, right, 4);
			// @include radius(6);
			background: $white;
			@include transitionsall;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			z-index: 2;
			overflow-y: scroll;
			max-height: size(240);
	  
			&::-webkit-scrollbar {
			  background: transparent;
			//   width: size(4);
			width: 0;
			}
		
			&::-webkit-scrollbar-thumb {
			  background: $gray-200;
			//   @include radius(4);
			}
	  
			.custom-option {
			  position: relative;
			  display: block;
			  cursor: pointer;
			  padding: size(8);
			  @include transitionsall;
			  color: $gray-600;
			  @include font($primaryFont, 14, normal, normal, 20);
	
	  
			  &:hover {
				cursor: pointer;
				@include setBgColor($gray-200, $gray-600);
			  }
	  
			  &.selected {
				// @include setBgColor($primary, $white);
	  
			  }
			}
		  }
	  
		  &.open {
			.select-trigger {
			  .arrow {
				svg {
				  @include rotate(180);
				}
			  }
			}
	  
			.custom-options {
			  opacity: 1;
			  visibility: visible;
			  pointer-events: all;
			}
		  }
		}
	  }
}

.view-comment , .videos {
	.select {
		&-trigger {
			@include border(solid,1,$gray-400);
			@include radius(25);
		}
	}
}


.videos {
	.select {
		&-trigger {
			@include border(solid,1,$gray-400);
			@include radius(25);
			width: size(160);
		}
	}
}