@use "../../global" as *;
@use "../../partials" as *;

.offcanvas {
  &.offcanvas-top {
    border-bottom: 0;
    height: 100vh;

    .offcanvas-header {
      height: size(48);
      background: $white;
    }

    .offcanvas-body {
      padding: 0;
    }
  }

  &.offcanvas-bottom {
    border-top: 0;
  }

  &.offcanvas-start {
    border-right: 0;
  }

  &.offcanvas-end {
    border-left: 0;
  }

  &.offcanvas-start {
    border-right: 0;
    width: size(280);
  }

  &-header {
    padding: size(8) size(16);

    .logo {
      width: size(150);
      height: size(48);
      @include flex-center;

      img {
        @include w100;
        object-fit: cover;
      }
    }

    .btn-close {
      @include radius(0);
      @include transitionsall;
      padding: 0;
      margin: 0;
      @include square(14);
      @include flex-center;
      overflow: hidden;

      svg {
        @include wh100;
      }

      @include hover {
        opacity: 1;
        @include rotate(180);

        svg {
          path {
            fill: $danger;
          }
        }
      }
    }
  }

  &-body {
    .mobilelist {
      @include list-vertical;

      &-link {
        @include flex-center-vert;
        gap: size(12);
        padding: size(10);
        background: $white;
        @include transitionsbackground;

        .icon {
          @include square(16);
          @include flex-center;

          svg {
            @include wh100;
          }
        }

        .text {
          color: $textPrimary;
          @include font($primaryFont, 12, normal, normal, 12);
        }

        &:hover:not(.active) {
          background: $gray-200;
        }

        &.active {
          background: $primary;

          .icon {
            svg {
              rect {
                fill: $white;
              }
            }
          }

          .text {
            color: $white;
          }
        }

        &.support.active {
          .icon {
            svg {
              path {
                fill: $white;
              }
            }
          }
        }

        &.settings.active {
          .icon {
            svg {
              path {
                fill: $white;
              }
            }
          }
        }
      }
    }

    &::-webkit-scrollbar {
      background: transparent;
      width: size(8);
    }

    &::-webkit-scrollbar-thumb {
      // background: darken($primary, 25%);
      @include radius(8);
    }
  }
}
