@use "../../global" as *;
@use "../../partials" as *;


.pagination-wrapper {
    @include flex-end;
    .paginationlist {
        @include list-horizontal;
        gap: size(2);
        &-item {
    
        }
        &-link {
            @include square(34);
            display: inline-block;
         
            @include flex-center;
            gap: size(2);
            @include setBgColor($white,$gray-600);
            @include transitionscolor;
            @include transitionsall;
            .round {
                @include square(4);
    
                background-color:$gray-300;
                display: inline-block;
                @include circle;
                
            }

            &.active {
                color: $primary;
            }
            @include hover {
                background: $gray-200;
            }
        }
    }
}
