@use "../../global" as *;
@use "../../partials" as *;

.header {
  background: $white;
  @include flex-center;
  @include w100;
  @include border-single(bottom, solid, 1, $headerborder);
  height: size(64);

  &-nav {
    @include w100;
    @include flex-center-between;
    gap: size(14);
    padding: size(0) size(12);

    @include breakpoint(tab992) {
      padding: size(0) size(32);
    }

    .channeldropdown {
      @include flex-column;
      gap: size(8);
      position: relative;

      @include breakpoint(tab992) {
        display: none;
      }

      .dropdowninfo {
        @include flex-center-vert;
        padding: size(16) size(4);

        .icon {
          @include square(32);
          @include circle;
          @include flex-center;
          overflow: hidden;

          img {
            @include wh100;
            object-fit: cover;
          }
        }

        .title {
          @include flex-center-vert;

          .titlebox {
            .text {
              font-size: size(8);
            }
          }

          .icon {
            @include square(24);
            @include flex-center;
            overflow: hidden;

            svg {
              @include wh100;
            }
          }
        }
      }

      .dropdownitems {
        position: absolute;
        top: calc(100% + size(1));
        left: 0;
        background: $white;
        box-shadow: $dropdownshadow;
        width: size(200);
        padding: size(12);
        display: none;
        @extend %animation;
        @extend %slideUpIn;

        .dropdownlist {
          @include list-vertical;
          gap: size(6);

          &-link {
            @include flex-center-vert;
            gap: size(12);
            background: $white;
            padding: size(6) size(12);

            .icon {
              @include square(24);
              @include circle;
              @include flex-center;
              overflow: hidden;

              img {
                @include wh100;
                object-fit: cover;
              }
            }

            .text {
              color: $textPrimary;
              font-size: size(14);
              font-weight: 500;
            }

            &:hover:not(.active) {
              background: $gray-200;
            }

            &.active {
              background: $primary;

              .text {
                color: $white;
              }
            }
          }

          .btn-create {
            @include w100;
            @include flex-center-vert;
            gap: size(12);
            background: $white;
            padding: size(6) size(12);

            .icon {
              @include square(24);
              @include circle;
              @include flex-center;
              overflow: hidden;

              svg {
                @include wh100;
              }
            }

            .text {
              color: $textPrimary;
              font-size: size(14);
              font-weight: 500;
            }

            &:hover:not(.active) {
              background: $gray-200;
            }
          }
        }
      }

      @include hover {
        .dropdownitems {
          display: block;
        }
      }
    }

    .logo {
      width: size(150);
      height: size(48);
      @include flex-center;

      @include breakpoint(tab992) {
        width: size(190);
        padding: size(8);
      }

      img {
        @include w100;
        object-fit: cover;
      }
    }

    .mobilemenu {
      @include list-horizontal;
      justify-content: flex-end;
      gap: size(8);

      @include breakpoint(tab992) {
        display: none;
      }

      .searchitem {
        padding: size(17) 0;

        .searchdropdown {
          position: absolute;
          top: calc(100% + size(1));
          left: 0;
          background: $white;
          box-shadow: $dropdownshadow;
          @include w100;
          display: none;
          @extend %animation;
          @extend %slideDownIn;
        }

        .searchbox {
          @include flex-center-vert;
          @include border-single(bottom, solid, 1, $white);
          @include transitionsall;

          .btn-search {
            width: size(48);
            height: size(39);
          }

          .searchinput {
            width: calc(100% - size(48));
            height: size(39);

            .searchfield {
              @include setBgColor(transparent, $gray-900);
              padding: size(8) size(16) size(8) size(0);
              @include wh100;
              font-size: size(14);
              font-weight: 400;

              &::placeholder {
                color: $gray-500;
              }
            }
          }

          &:focus-within {
            border-color: $headerborder;
          }
        }

        &:hover,
        &:focus {
          .searchdropdown {
            display: block;
          }
        }
      }

      &-link {
        @include square(30);
        @include border(solid, 1, transparent);
        @include circle;
        @include flex-center;
        padding: size(4);

        svg {
          @include wh100;
        }

        &.mobile {
          border-color: $primary-dark;
          padding: size(6);
        }

        &.search {
          border-color: $gray-400;
        }

        &.live {
          border-color: $danger;

          @include hover {
            background: $danger;

            svg {
              path {
                fill: $white;
              }
            }
          }
        }

        &.upload {
          background: $primary;

          @include hover {
            background: $white;
            border-color: $primary;

            svg {
              path {
                fill: $primary;
              }
            }
          }
        }

        &.user {
          @include circle;
          padding: size(0);

          img {
            @include wh100;
            object-fit: cover;
          }
        }
      }
    }

    .desktopmenu {
      display: none;

      @include breakpoint(tab992) {
        display: block;
      }
    }
  }
}

.appmenu {
  @include flex-center;
  position: fixed;
  bottom: 0;
  left: 0;
  @include w100;
  background: $white;
  @include border-single(top, solid, 1, $headerborder);
  padding: size(12);
  z-index: 10000;

  @include breakpoint(tab992) {
    display: none;
  }

  .applist {
    @include list-horizontal;
    @include w100;
    gap: size(12);

    &-item {
      width: calc(100% / 5);
    }

    &-link {
      @include flex-center-column;
      gap: size(8);
      text-align: center;

      .icon {
        @include square(20);

        svg {
          @include wh100;
        }
      }

      .text {
        color: $gray-900;
        font-size: size(12);
        font-weight: 500;
      }

      &:hover:not(.active) {
        .icon {
          svg {
            path {
              fill: $primary;
            }
          }
        }

        .text {
          color: $primary;
        }
      }

      &.active {
        .icon {
          svg {
            path {
              fill: $primary;
            }
          }
        }

        .text {
          color: $primary;
        }
      }
    }

    .hamburger-button {
      @include flex-center-column;
      gap: size(8);
      text-align: center;

      .icon {
        @include square(20);

        svg {
          @include wh100;
        }
      }

      .text {
        color: $gray-900;
        font-size: size(12);
        font-weight: 500;
      }

      @include hover {
        .icon {
          svg {
            path {
              fill: $primary;
            }
          }
        }

        .text {
          color: $primary;
        }
      }
    }
  }
}
